:root {
	--primary: #343434;
	--warning:  #ffd028;
	--danger:  #eb3f27;
	--white:  #fdfdfd;
	--dark: #181717;
}

/* --Button Styles-- */

.btn {
	font-weight: 400;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.btn:hover {
	transform: scale(1.1);
	background-color: black;
	color: white;
	
}

.btn--primary--solid {
	background-color: var(--primary);
	color: var(--white);
}

.btn--warning--solid {
	background-color: green;
	color:  var(--dark);
	border: none;
}

.btn--danger--solid {
	background-color: var(--danger);
	color:  var(--white);
	border: none;
}

.btn--success--solid {
	background-color: var(--success);
	color: var(--white);
	border: none;
}

.btn--primary-outline {
	background-color: transparent;
	border: 2px solid var(--primary);
	color:  var(--primary);
}

btn--warning--outline {
	background-color: transparent;
	border: 2px solid var(--waring);
	color: var(--warning);
}

btn--danger--outline {
	background-color: transparent;
	border: 2px solid var(--danger);
	color: var(--danger);
}

btn--success--outline {
	background-color: transparent;
	border: 2px solid var(--success);
	color: var(--success);
}

/* --Button Sizes-- */

.btn--medium {
	padding: 10px 20px;
	font-size: 18px;
}

.btn--large {
	padding: 15px 30px;
	font-size: 20px;
}



